
    <header [ngClass]="{ 'grayed-background ': appCreationService.isCreatingApp }">
        <nav [ngClass]="{ 'navbar-disable': appCreationService.isCreatingApp }" class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-xs " >

          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active design-item" [ngClass]="{ 'btn-disable': appCreationService.isCreatingApp }"  [ngClass]="{ 'active': activeLink === 'design' }" (click)="setActiveLink('design')">
                  
                  <i class="bi bi-wrench-adjustable"></i>
                  <a class="nav-link"  routerLink="/Design">Design <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item " [ngClass]="{ 'btn-disable': appCreationService.isCreatingApp }" [ngClass]="{ 'active': activeLink === 'Workflow' }" (click)="setActiveLink('Workflow')" >
                  <i class="bi bi-diagram-2-fill"></i>
                  <a class="nav-link" href="#">Workflow</a>
                </li>
                <li class="nav-item " [ngClass]="{ 'btn-disable': appCreationService.isCreatingApp }" [ngClass]="{ 'active': activeLink === 'Database' }" (click)="setActiveLink('Database')">
                  
                  <i class="bi bi-database-gear "></i>

                    <a class="nav-link" routerLink="/Databases">Database</a>
                  </li>
                <li class="nav-item " [ngClass]="{ 'btn-disable': appCreationService.isCreatingApp }">
                <div class="dropdown " style="float:left;">
                <div class="row">
                <div class="col-md-6">  <a class="dropbtn "><i class="bi bi-plus-circle-dotted"></i></a></div>
                
                </div>
               
                  <div class="dropdown-content" style="left:0;">
                  <a routerLink="/Screen/26/1"><i class="bi bi-plus icons-style"></i>Add a new screen</a>
                  <a routerLink="/Application"><i class="bi bi-plus icons-style"></i>Add a new Application</a>
                 </div>
                 </div>
                    
                  </li>
                
              </ul>
                <button [ngClass]="{ 'btn-disable': appCreationService.isCreatingApp }"  class="btn preview-btn my-2 my-sm-0" type="submit">Preveiw</button>
            </div>
          </nav>
    </header>
