
    <header >
        <nav  class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-xs " >

          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active design-item"   [ngClass]="{ 'active':  designService.activeLink === 'design' }" (click)="setActiveLink('design')">
                  
                  <i class="bi bi-wrench-adjustable"></i>
                  <a class="nav-link"  routerLink="/Design">Design </a>
                </li>
                <li class="nav-item "  [ngClass]="{ 'active': designService.activeLink=== 'Workflow' }" (click)="setActiveLink('Workflow')" >
                  <i class="bi bi-diagram-2-fill"></i>
                  <a routerLink="/Workflow" class="nav-link" href="#">Workflow</a>
                </li>
                <li class="nav-item "  [ngClass]="{ 'active':  designService.activeLink === 'Database' }" (click)="setActiveLink('Database')">
                  
                  <i class="bi bi-database-gear "></i>

                    <a class="nav-link" routerLink="/Databases">Database</a>
                </li>
 
                  
                <li  *ngIf=" designService.activeLink === 'design' ">
              <a routerLink="/Screen/1" class="dropbtn " ><i title="Add a new Screen to the application" class=" circle-style bi bi-plus-circle-dotted"></i></a>

                     
               </li>
 <li *ngIf=" designService.activeLink === 'design'" class=" dropdown " >
    <div class="dropdown">
        <div>
            <a class="dropApp" title="My Applications" (click)="toggleDropdown()">
                <div class="selected-app">{{ designService.activeApp }} <i  class="bi bi-caret-down-fill" style="margin-left:10px"></i></div>
            </a>
        </div>
        <div class="dropdown-content" [ngStyle]="{'display': isDropdownOpen ? 'block' : 'none' }">
            <a *ngFor="let item of app" (click)="setActiveApp(item)">
              <i style="margin-right:10px;" class="bi bi-window-fullscreen"></i> {{item.name_app}}
                <i *ngIf="item.name_app === designService.activeApp" class="bi bi-check" style="float:right;"></i>
            </a>
             <div class="dropdown-divider"></div>
             <a routerLink='/Application'>Add a new app...</a>
        </div>
    </div>
</li>


              </ul>
     
                <button   class="btn preview-btn my-2 my-sm-0" type="submit">Preveiw</button>
            </div>
   <div class="dropdownSetting">
    <div>
        <a class="dropApp"  (click)="toggleDropdownSetting()">
            <div class="selected-app"><i class="bi bi-gear"></i></div>
        </a>
    </div>
    <div class="settingdropdown-content" [ngStyle]="{'display': isDropdownOpenSetting ? 'block' : 'none' }">
        <div class="dropdown-title">Settings</div>
        <div class="dropdown-divider"></div>
        <a routerLink="/Home">
            <i style="margin-right:10px;" class="bi bi-window-stack"></i> My Applications
        </a>
        <a  routerLink="/Settings">
            <i style="margin-right:10px;" class="bi bi-sliders2"></i> Application's Settings
        </a>
        <a routerLink='/Application'>
            <i style="margin-right:10px;" class="bi bi-window-plus"></i> Add A New App
        </a>
        <a (click)="SignOut()">
            <i style="margin-right:10px;" class="bi bi-box-arrow-in-left"></i> Log Out
        </a>
    </div>
</div>

          </nav>
    </header>
