
.preview-btn{
  background-color: #1F1F1F;
  color: white;
  font-size: 12px;
  margin-right: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .navbar {
      border-bottom: 1px solid #ccc; 
      background-color: white;
      height: 50px;
     

    }
  .navbar-nav {
      display: flex;
      flex-direction:row;
      align-items: center;
      margin-left: -8px;
  
    }
  
    
    .navbar-nav .nav-item {
      text-align: center;
      margin-top: 8%;
      margin-bottom: 8%;
      border-right: 1px solid #ccc;
      width:70px;
    }
    
    
    .navbar-nav .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%; 
      padding-top: 0px;
      font-size:12px;
      color: black;
      font-weight: 600;
    }
    
    .navbar-nav .nav-item .bi {
      font-size: 17px; 
      padding-bottom: 0px; 
      margin-bottom: 0%;
    }
    
    .navbar-nav .nav-item:last-child {
      border-right: none; 
    }
  
    .navbar-nav .nav-item.active .nav-link {
      color: white; 
  }
  .navbar-nav .nav-item.active .bi {
      color: white; 
  }
  
  .navbar-nav .nav-item.active {
      background-color: #1F1F1F; 
  }
/* Classe pour une barre de navigation extensible sur les écrans de taille très petite */
.navbar-expand-xs {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.circle-style{
  font-size: 18px;
}
.dropbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  padding-top: 0px;
  margin-left: 13px;
  font-size:12px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  
}
.addstyle{
  margin-right: 23%;
}
.dropApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  padding-top: 0px;
  margin-left: 10px;
  font-size:12px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #5d5c5c;
  border-radius: 5px;
}
.dropdown {
  position: relative;
  float:right;
}
.dropdownSetting {
  position: relative;
  float:left;
  margin-right: 7px;

}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 cursor: pointer;

}

.dropdown-content a {
  font-size: 14px; /* Réduire la taille de la police */
  color: rgb(0, 0, 0);
  padding: 10px 16px; /* Ajuster la marge interne */
  text-decoration: none;
  display: block;

}
.selected-app {
  padding: 5px 10px;
}

.dropdown-content a:hover {
  background-color: #F9F9F9;
}

.dropdown:hover .dropdown-content {
  display: block;
}




.settingdropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-top: 7px;

}
/* Style du titre */
.dropdown-title {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

/* Style de la ligne de séparation */
.dropdown-divider {
  height: 1px;
  background-color: lightgray;
  margin: 5px 0;
}
.settingdropdown-content a {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* Style des liens au survol */
.settingdropdown-content a:hover {
  background-color: #F9F9F9;
}
/* Pour afficher le bouton de basculement sur les écrans de petite taille */
@media (max-width: 575.98px) {
  .navbar-expand-xs > .container,
  .navbar-expand-xs > .container-fluid,
  .navbar-expand-xs > .container-sm,
  .navbar-expand-xs > .container-md,
  .navbar-expand-xs > .container-lg,
  .navbar-expand-xs > .container-xl {
    flex-wrap: inherit;
  }
  .navbar-expand-xs .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xs .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-expand-xs .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
  }
  .navbar-expand-xs .navbar-toggler {
    display: block;
  }
}
