<app-header></app-header>
<div class="container-fluid">
  <div class="left-side">
    <ul class="entity-list">
      <h6>Entities</h6>
      <div
        *ngFor="let entity of dbservice.tables"
        [ngClass]="{ active: dbservice.selectedEntity === entity.name_entity }"
      >
        <div class="divider"></div>

        <li>
          <div class="row">
            <div class="col-md-10 col-sm-10 col-lg-10 col-10">
              <a class="nav-link" (click)="selectEntity(entity)">{{
                entity.name_entity
              }}</a>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-2">
              <i
                (click)="deleteEntity(entity.id)"
                class="bi bi-trash3 icons-trash"
                title="Delete this entity"
              ></i>
            </div>
          </div>
        </li>
      </div>
    </ul>
    <div class="form-style">
      <form id="regForm" (ngSubmit)="AddEntity()" #dbForm="ngForm">
        <div class="tab">
          <label for="name_table">New Entity</label>
          <input
            name="entityName"
            [(ngModel)]="entityName"
            class="form-control"
            placeholder="Name Entity..."
            required
            ngModel
          />
        </div>

        <button class="btn" type="submit">Create</button>
      </form>
    </div>
  </div>

  <div class="right-side">
    <div class="search">
      <h6>Attributes for</h6>

      <input
        id="table_modified"
        value="User"
        placeholder="User"
        name="selectedEntity"
        [(ngModel)]="dbservice.selectedEntity"
        required
      />
      <i
        (click)="ModifyName()"
        title="Confirm the editing"
        class="bi bi-check-circle-fill"
      ></i>
    </div>
    <div class="divider1"></div>

    <div class="attribute-list">
      <div *ngFor="let attr of dbservice.attributes" class="attribute row">
        <div class="col-md-4 col-sm-4 col-lg-4 col-4">
          <span>{{ attr.name_attribute }}</span>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 col-3">
          <span class="type">{{ attr.type_attribute }}</span>
        </div>
        <div
          *ngIf="attr.required == 'O'"
          class="col-md-3 col-sm-3 col-lg-3 col-3"
        >
          <span class="required">Required</span>
        </div>
        <div
          *ngIf="attr.required == 'N'"
          class="col-md-3 col-sm-3 col-lg-3 col-3"
        >
          <span class="required"></span>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2 col-2">
          <i (click)="modify(attr)"
            class="bi bi-pencil-square"
            style="cursor: pointer"
            title="Modify the attribute"
          ></i>
          <i
            (click)="deleteAttribute(attr)"
            class="bi bi-trash"
            style="cursor: pointer; margin-left: 5px"
            title="Delete the attribute"
          ></i>
        </div>
      </div>
    </div>
   <div>
    
    <button class="submit-button" (click)="openModal()">
      Add new attributes
    </button>
     <div class="additional-links">
            <a (click)="openModalData()" class="link">Add Data</a>
            <span class="divider">|</span>
            <a (click)="openModalAdd()" class="link">View Data</a>
        </div>
        </div>
  </div>
</div>
<!-- Fenêtre modale Ajout-->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- En-tête de la fenêtre modale -->
      <div class="modal-header">
        <h4 *ngIf="this.typeform!='update'" class="modal-title">New Attribute</h4>
          <h4 *ngIf="this.typeform=='update'" class="modal-title">Update the Attribute</h4>
        <button
          type="button"
          class="close"
          (click)="closeModal()"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>

      <!-- Corps de la fenêtre modale -->
      <div class="modal-body">
        <!-- Formulaire de modification -->
        <form
          id="attributeForm"
          (ngSubmit)="submitForm()"
          #attributeForm="ngForm"
        >
          <div class="form-group">
            <label for="attributeName">Name of Attribute:</label>
            <input
              type="text"
              name="attributeName"
              [(ngModel)]="attributeName"
              placeholder="Attribute's name"
              class="form-control"
              id="attributeName"
            />
          </div>

          <div *ngIf="this.typeform!='update'" class="form-group">
            <label for="attributeType">Type of Attribute:</label>
            <div class="select-with-icon">
              <select
                class="form-control"
                id="attributeType"
                name="selectedAttributeType"
                [(ngModel)]="selectedAttributeType"
              >
              
                <option *ngFor="let type of attributeTypes" [value]="type">
                  {{ type }}
                </option>
              </select>
              <i class="bi bi-caret-down-fill"></i>
            </div>
          </div>

          <div *ngIf="this.typeform!='update'"  class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="idCheckbox"
              name="islistField"
              [(ngModel)]="islistField"
            />
            <label class="form-check-label" for="idCheckbox"
              >This is field is a list (multiple entries)</label
            >
            <input
              type="checkbox"
              class="form-check-input"
              id="requiredCheckbox"
              name="isRequiredField"
              [(ngModel)]="isRequiredField"
            />
            <label class="form-check-label" for="requiredCheckbox"
              >Required</label
            >
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
            data-dismiss="modal"
          >
            Close
          </button>
        </form>
      </div>

      
    </div>
  </div>
</div>


<!-- Fenêtre modale View Data-->
<div class="modal " id="myModalAdd">
  <div class="modal-dialog modal-custom ">
    <div class="modal-content">
      <!-- En-tête de la fenêtre modale -->
      <div class="modal-header">
        <h4 class="modal-title">View Data</h4>
        <button
          type="button"
          class="close"
          (click)="closeModalAdd()"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>

      <!-- Corps de la fenêtre modale -->
      <div class="modal-body">
        <!-- Barre de recherche -->
        <div class="searchbar search">
          <input type="text" placeholder="Search..." class="search-bar"><i style="margin-left: 5px; font-size:15px" class="bi bi-search"></i>
        </div>
        
        <!-- Tableau -->
        <table class="table">
          <thead class="table-header">
            <tr>
              <td *ngFor="let attr of dbservice.attributes">{{attr.name_attribute}}</td>
              <td></td>
            
            </tr>
          </thead>
          <tbody>
    
            <tr *ngFor="let value of data">
              <td *ngFor="let i of index">{{value[dbservice.attributes[i].name_attribute]}}</td>
              
              <td><i  (click)="ModifyData(value.id)"
            class="bi bi-pencil-square"
            style="cursor: pointer"
         
          ></i>
          <i
            (click)="DeleteData(value.id)"
            class="bi bi-trash"
            style="cursor: pointer; margin-left: 5px"
         
          ></i></td>
            </tr>
            <!-- Ajoutez d'autres lignes de données au besoin -->
          </tbody>
        </table>
      </div>

      <!-- Pied de la fenêtre modale -->
      <div class="modal-footer">
        <button
        style="width:10%;"
          type="button"
          class="btn btn-secondary"
          (click)="closeModalAdd()"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Fenêtre modale Ajout-->
<div class="modal" id="myModalData">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- En-tête de la fenêtre modale -->
      <div class="modal-header">
        <h4  class="modal-title">Data Management</h4>
       
        <button
          type="button"
          class="close"
          (click)="closeModalData()"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>

      <!-- Corps de la fenêtre modale -->
      <div class="modal-body">
        <!-- Formulaire d4jout de données -->
        <form
          id="attributeForm"
          (ngSubmit)="SubmitFormData()"
          #attributeForm="ngForm"
        >
          <div *ngFor="let attr of dbservice.attributes" class="form-group">

            <label  *ngIf="attr.name_attribute!='Date_creation' && attr.name_attribute!='Date_update'"  >{{attr.name_attribute}}</label>
            <input  *ngIf="attr.name_attribute!='Date_creation'  && attr.name_attribute!='Date_update' && formData == 'insert' " 
              type="text"
              name=attr.value
              
              [(ngModel)]=attr.value
              placeholder="Write Here..."
              class="form-control"
       
            />
           <input *ngIf="attr.name_attribute !== 'Date_creation' && attr.name_attribute !== 'Date_update' && formData=='update'" 
                type="text"
                id={{attr.name_attribute}}
                name={{attr.name_attribute}}
                value={{attr.value}}
                placeholder="Write Here..."
                class="form-control"
            />
          </div>

        
          

          <button type="submit" class="btn btn-primary">Save</button>
          <button
          
            type="button"
            class="btn btn-secondary"
            (click)="closeModalData()"
            data-dismiss="modal"
          >
            Close
          </button>
        </form>
      </div>

      
    </div>
  </div>
</div>