<br><br><br><br><br><br>
<div class="container mt-5 overlay">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form id="regForm">
                <h1 id="register">Create an application</h1>
                

                <div id="tab1" class="tab">
                  <h6>Name of application</h6>
                    <p>
                      <input placeholder="Name..." (input)="inputChanged()" name="fname"></p>
                </div>
                <div class="tab">
                  <h6>Number of screen</h6>
                    <p><input placeholder="Number" type="number" (input)="inputChanged()" name="dd"></p>
                    
                </div>
                <div class="tab">
                    <h6>name of screen</h6>
                    <p><input placeholder="name of screen..." (input)="inputChanged()" name="email"></p>
                 
                </div>
                <div class="tab">
                    <h6>Type of screen</h6>
                    
                      <select class="form-select" id="screenType" (change)="inputChanged()">
                        <option value="">Choose...</option>
                        <option value="1">Authtenfication</option>
                        <option value="2">CRUD page</option>
                      </select>
         <br>
                </div>

               
                <div class=" tab thanks-message text-center" id="text-message"> <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                    <h3>Thank you for your feedback!</h3> <span>Thanks for your valuable information. It helps us to improve our services!</span>
                </div>
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;">
                      <button type="button" id="prevBtn" (click)="nextPrev(-1)"><i class="bi bi-chevron-double-left"></i></button> 
                      <button type="button" id="nextBtn" (click)="nextPrev(1)"><i class="bi bi-chevron-double-right"></i></button> </div>
                </div>
            </form>
        </div>
    </div>
</div>
