<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="image-container">
        <img  class="img" src="..\assets\images\back.jpg" alt="Image de fond">
   
        <div class="content">
          <p>Transformez vos idées en applications sans écrire une seule ligne de code.</p> 
           <p>La plateforme NoCode simplifie le processus de développement et de gestion </p>
            <p>  de bases de données pour vous permettre de créer rapidement et efficacement </p>
             <p> des applications sur mesure."</p>
        </div>
        <div id="google-btn" class="button-container">
          
          
        </div>
      </div>
    </div>
  </div>
</div>