@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
    font-family: 'Abhaya Libre';
    src: url('/assets/fonts/Abhaya_libre/AbhayaLibre-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold; /* Utilisez 'bold' pour le gras */
    font-style: normal; /* Utilisez 'normal' pour le style normal */
}
  
.background{
    background-color: #D0D7E7;
}

.grayed-background {
    background-color: rgba(119, 119, 119, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .btn-disable
        {
        cursor: not-allowed;
        pointer-events: none;
        color: #000000;
        }
       