<!-- home.component.html -->
<div class="container-fluid p-0">
  <!-- Barre horizontale -->
  <nav class="navbar navbar-light navbar-custom shadow-sm">
    <div class="container justify-content-center align-items-center">
      <img class="logo" src="..\assets\images\logo.png" />
    </div>
  </nav>

  <div class="d-flex">
    <!-- Barre verticale -->
    <div class="sidebar flex-shrink-0 p-3">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/Home" class="nav-link">
            <i style="margin-right: 10px; font-size: 25px" class="bi bi-window-stack"></i>
            My Apps
          </a>
        </li>
        <li class="setting">
          <a routerLink="/Settings"  class="nav-link ">
            <i style="margin-right: 10px; font-size: 25px" class="bi bi-sliders2"></i>
            Application's Settings
          </a>
        </li>
        <li>
          <a style="cursor: pointer;" (click)="SignOut()" class="nav-link link-dark">
            <i style="margin-right: 10px; font-size: 25px" class="bi bi-box-arrow-in-left"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>

    <!-- Contenu principal -->
    <div class="content flex-grow-1">
      <!-- Section principale -->
      <div class="main mt-4">
        <!-- Alerte Bootstrap -->
          <div *ngIf="alertVisible">
            <div class="alert alert-{{alerts.type}} alert-dismissible fade show" role="alert">
              {{alerts.message}}
              <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
            </div>
          </div>
        <!-- Lister les applications horizontalement -->
        <div class="d-flex app-list">
          <div (click)="selectApp(item)"  [ngClass]="{'app-card-active':activeApp ===item.name_app , 'app-card':activeApp != item.name_app }" class="  p-2"  *ngFor="let item of app;  let i = index" >
                App{{i+1}}
          </div>
        </div>
        <div class="divider"></div>

        <!-- Formulaire -->
        <form>
          <div class="form-group mb-3 d-flex align-items-center">
            <label for="nameApp" class="me-2 label-width">App Name</label>
            <div class="input-group flex-grow-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-check" (click)="updateAppName()" title="Confirm the updates" style="cursor:pointer;"></i></span>
              </div>
              <input type="text" [(ngModel)]="nameApp" name="nameApp" class="form-control input-width" id="nameApp" placeholder="Enter app name" />
            </div>
          </div>
          <div class="form-group mb-3 d-flex align-items-center">
            <label for="namedb" class="me-2 label-width">Database Name</label>
            <div class="input-group flex-grow-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-check" (click)="updatedbName()" title="Confirm the updates" style="cursor:pointer;"></i></span>
              </div>
              <input type="text" [(ngModel)]="namedb" name="namedb"  class="form-control input-width" id="databaseName" placeholder="Enter database name" />
            </div>
          </div>
          <hr class="my-4" />
          <div class="form-group mb-3  align-items-center">
            <h5>Screens</h5>
            <div class="additional-links">
               <a routerLink="/Screen/1" class="link">Add Screen</a>
        </div>
        </div>
          <div class="form-group mb-3 d-flex align-items-center" *ngFor="let screen of screens; let i=index">
            <label for="screen{{i}}" class="me-2 label-width">Screen {{i + 1}} Name</label>
            <div class="input-group flex-grow-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i (click)="updateScreen(screen,screen.name_screen)" class="bi bi-check" title="Confirm the updates" style="cursor:pointer;" ></i></span>
              </div>
              <input type="text" [(ngModel)]="screen.name_screen" name="screen{{i}}" class="form-control input-width" id="screen{{i}}" placeholder="Enter screen name" />           
                 <i onclick="return confirm('Are you sure you want to delete this interface?');" (click)="deleteScreen(screen)" style="cursor: pointer;color:red;" class="bi bi-trash position-absolute top-0 end-0 m-2"></i>
            </div>
            
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
