.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F2F5F9;
}

.navbar-custom {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 100px !important; /* Définissez la hauteur en pixels */
}

.logo {
    height: 30px;
}

.sidebar {
    background-color: #F2F5F9;
    width: 320px;
    top: 0; /* Position le sidebar en haut de la fenêtre */
    left: 0; /* Position le sidebar à gauche de la fenêtre */
    bottom: 0; /* Étend le sidebar jusqu'en bas de la fenêtre */
    padding-top: 20px;
    height: 100%;
}

.nav {
    padding-top: 50px;
}

.sidebar a {
    padding: 20px;
    display: block;
    color: #333;
    font-weight: bold;
}
.additional-links {
    float: right;
    margin-right: 10px;
    margin-top: -35px;
  }
  .alert{
    margin-top: 20px;
  }
  .additional-links .link {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    margin-left: 2px;
    cursor: pointer;
    font-size: small;
  }
.content {
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    min-height: 110vh;
    margin-top: -150px;
}

.main {
    width: 100%;
    padding: 100px;
}

.app-list {
    display: flex;
    align-items: center; /* Align the items with the horizontal line */
    justify-content: flex-start; /* Align items to the start of the container */
}

.divider {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; 
}
.app-card-active{
    background-color:  #fff;
  border: #ccc solid 1px;
  border-bottom: 0;
    padding: 5px;
    text-align: center;
    width: 80px;
    height: 50px; 
    margin-right: 0px; 
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0; 
    cursor: pointer;
}
.setting{
    background-color:black; 
    margin-left:-20px;
    margin-right: -20px;
}
.sidebar .setting a {
    color: white;
}
.app-card {
    background-color: #e7e7e7;
    padding: 5px;
    text-align: center;
    width: 80px;
    height: 50px; 
    margin-right: 0px; 
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0; 
    cursor: pointer;
}

.input-group-prepend .input-group-text {
    border-radius: 0; /* Remove border radius */
}

.input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-width {
    width: 150px; /* Adjust the width as needed */
}

.input-width {
    width: 300px; /* Adjust the width as needed */
}
